rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /predictions/{id} {
      allow read, write: if true;
    }
    match /wiki_comments/{id} {
      allow read, write: if true;
    }
    match /wiki_qa/{id} {
      allow read, write: if true;
    }
  }
}
